@keyframes Dock {
	0%		{ transform: translateX(-50%) translateY(100%); }
	100%	{ transform: translateX(-50%) translateY(0); }
}

Dock {
	display: flex;
	flex-direction: column;

	position: absolute;
	left: 50%;
	bottom: 0;

	animation: Dock 1s ease;
	transform: translateX(-50%);
}

List {
	display: flex;

	position: relative;
	z-index: 1;

	padding: 0 8px;

	height: 48px;

	box-shadow: 0 -1px rgba(0,0,0,0.25);
}

List,
List:before,
List:after {
	background:
		var(--CGNoise),
		linear-gradient(to bottom,
			#808080,
			#bfbfbf
		);
}

List:before,
List:after {
	content: '';

	position: absolute;
	bottom: 0;
	z-index: -1;

	width: 48px;
	height: 48px;
}

List:before {
	right: 100%;

	box-shadow: -1px 0 rgba(0,0,0,0.25);

	transform: skewX(-45deg);
	transform-origin: right bottom;
}

List:after {
	left: 100%;

	box-shadow: 1px 0 rgba(0,0,0,0.25);

	transform: skewX(45deg);
	transform-origin: left bottom;
}

Item {
	display: block;

	position: relative;

	margin: 0 8px;

	width: 64px;
	height: 64px;

	background: url('/Environment/Library/Frameworks/CoreTypes.bundle/Contents/Resources/Unknown.icns/64x64.svg');
	border-radius: 4px;

	transform: translateY(-50%);
}

Item:before {
	content: '';

	position: absolute;
	top: 100%;
	left: 0;

	width: 64px;
	height: 16px;

	background: inherit;
	background-position: 0 16px;
	border-radius: 4px;
	-filter: blur(4px);
	-webkit-mask-image: linear-gradient(to bottom,
		rgba(0%,0%,0%,0),
		rgba(0%,0%,0%,1)
	);

	opacity: 0.5;
	transform: scale(1, -1);
}

Item[active]:after {
	content: '';

	position: absolute;
	left: 50%;
	bottom: -20px;
	z-index: 1;

	width: 32px;
	height: 4px;

	background: url('/Environment/Library/Applications/Dock.app/Contents/Resources/Active.svg');

	transform: translateX(-50%);
}

Activity {
	z-index: 0;

	width: calc(100% + 96px);
	height: 4px;

	background: #808080;
	box-shadow:
		inset 0 1px #ffffff,
		-1px 0 rgba(0,0,0,0.25),
		1px 0 rgba(0,0,0,0.25);
	transform: translateX(-48px);
}