@keyframes LFWorkspace {
	0%		{ opacity: 0; transform: scale(0.875); }
	100%	{ opacity: 1; transform: scale(1); }
}

LFWorkspace {
	position: absolute;
	z-index: 0;

	width: 100%;
	height: 100%;

	background-color: #bf6060;
	background-position: center;
	background-size: cover;

	animation: LFWorkspace 1s ease;
}

LFButton {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	padding: 0 8px;

	min-height: 24px;

	background:
		linear-gradient(to bottom,
			rgba(0%,0%,0%,0),
			rgba(0%,0%,0%,0) 25%,
			rgba(0%,0%,0%,0.0625) 50%,
			rgba(0%,0%,0%,0.125) 50%,
			rgba(0%,0%,0%,0.125) 75%,
			rgba(0%,0%,0%,0.0625)
		),
		rgba(100%,100%,100%,1);
	border-radius: 4px;
	box-shadow:
		inset 0 0 0 1px #808080,
		inset 0 0 0 2px rgba(100%,100%,100%,0.25),
		0 1px rgba(0%,0%,0%,0.05);
}

LFButton:after {
	content: attr(title);
}

LFButton[enabled][focused]:before {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	border-radius: inherit;
	box-shadow:
		inset 0 0 0 1px rgba(100%,50%,50%,0.75),
		inset 0 0 0 2px rgba(100%,50%,50%,0.375),
		0 0 0 1px rgba(100%,50%,50%,0.75),
		0 0 0 2px rgba(100%,50%,50%,0.375);
	/*
	box-shadow:
		inset 0 0 0 2px rgb(100%,50%,50%),
		0 0 0 1px rgb(100%,50%,50%);
	filter: blur(1px);
	*/

	pointer-events: none;
}

@keyframes LFButton_default {
	0%	{ filter: brightness(1); }
	50%	{ filter: brightness(0.875) saturate(1.25); }
	0%	{ filter: brightness(1); }
}

LFButton[enabled][default] {
	background:
		linear-gradient(to bottom,
			rgba(100%,100%,100%,0.5),
			rgba(100%,100%,100%,0.25) 50%,
			rgba(100%,100%,100%,0) 50%,
			rgba(100%,100%,100%,0.5)
		),
		#ff8080;
	box-shadow:
		inset 0 0 0 1px #804040,
		inset 0 2px rgba(100%,100%,100%,0.25),
		0 1px rgba(0%,0%,0%,0.05);

	animation: LFButton_default 1s ease infinite;
}

LFButton[enabled][default][focused]:before {
	z-index: -1;
}

LFButton[enabled][activated] {
	filter: brightness(0.875);
}

LFButton:not([enabled]) {
	opacity: 0.5;
}

LFMenubar {
	display: flex;

	position: absolute;

	padding: 0 8px;

	width: calc(100% - 16px);
	height: 24px;

	background:
		linear-gradient(to bottom,
			rgba(0%,0%,0%,0.0625),
			rgba(0%,0%,0%,0.5)
		),
		rgba(100%,100%,100%,1);
	box-shadow:
		inset 0 1px rgba(100%,100%,100%,1),
		inset 0 -1px #404040;

	transform: translateY(0);
	transition: 0.5s ease transform;
}

LFMenubar[hidden] {
	transform: translateY(-48px);
}

LFMenubar:after {
	content: '';

	position: absolute;
	top: 100%;
	left: 0;

	width: 100%;
	height: 100%;

	background: linear-gradient(to bottom,
		rgba(0%,0%,0%,0.25),
		rgba(0%,0%,0%,0)
	);

	pointer-events: none;
}

LFMenubar[transparent] {
	background: linear-gradient(to bottom,
		rgba(100%,100%,100%,0.75),
		rgba(100%,100%,100%,0.25)
	);
	backdrop-filter: blur(4px);
	box-shadow:
		inset 0 1px rgba(100%,100%,100%,0.25),
		inset 0 -1px rgba(0%,0%,0%,0.5);
}

LFMenubarGroup {
	display: flex;
}

LFMenubarGroup[status] {
	flex-direction: row-reverse;

	margin-left: auto;
}

LFMenubar LFButton {
	flex-shrink: 0;

	min-width: 0;

	background: none;
	border-radius: 0;
	box-shadow: none;

	white-space: nowrap;
}

LFMenubar LFButton:after {
	font-size: 15px;
	text-shadow: 0 1px rgba(100%,100%,100%,0.5);
}

LFMenubar LFButton:has(LFImage) :after {
	margin-right: 16px;
}

LFMenubar LFButton[enabled][highlighted],
LFMenubar LFButton[enabled][activated] {
	background: linear-gradient(to bottom,
		#ff4040,
		#bf0000
	);
	box-shadow:
		inset 0 1px rgba(100%,100%,100%,0.25),
		inset 0 -1px rgba(0%,0%,0%,0.25);
	filter: none;
}

LFMenubar LFButton[enabled][highlighted]:after,
LFMenubar LFButton[enabled][activated]:after {
	color: rgba(100%,100%,100%,1);
	text-shadow: none;
}

LFMenubar LFButton LFImage[template] {
	filter: drop-shadow(0 1px rgba(100%,100%,100%,0.5));
}

LFMenubar LFButton[enabled][highlighted] LFImage[template],
LFMenubar LFButton[enabled][activated] LFImage[template] {
	filter: invert(1);
}

LFMenubar LFButton:not([enabled]) LFImage {
	opacity: 0.5;
}

LFMenubarGroup[application] LFButton:first-child:after {
	font-family: Ubuntu-Medium;
}

LFMenu {
	display: flex;
	flex-direction: column;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;

	padding: 4px 0;

	min-width: 24px;
	min-height: 24px;

	background: rgba(100%,100%,100%,0.875);
	backdrop-filter: blur(4px);
	border-radius: 4px;
	box-shadow:
		0 0 0 1px rgba(0%,0%,0%,0.25),
		0 8px 8px rgba(0%,0%,0%,0.25);

	opacity: 0;
	transition: 250ms ease opacity;
	pointer-events: none;
}

LFMenu[activated] {
	opacity: 1;
	transition: none;
	pointer-events: all;
}

LFMenu[topLeft] {
	border-top-left-radius: 0;
}

LFMenu[topRight] {
	border-top-right-radius: 0;
}

LFMenu[bottomLeft] {
	border-bottom-left-radius: 0;
}

LFMenu[bottomRight] {
	border-bottom-right-radius: 0;
}

LFMenuItem {
	display: flex;
	align-items: center;

	padding: 0 24px;

	height: 24px;
}

LFMenuItem:after {
	content: attr(title);
}

LFMenuItem[menu]:before {
	content: '';

	position: absolute;
	right: 8px;

	border-style: solid;
	border-width: 4px 0 4px 8px;
	border-color: transparent transparent transparent rgba(25%,25%,25%,1);
}

LFMenuItem[enabled][highlighted],
LFMenuItem[enabled][activated] {
	background: linear-gradient(to bottom,
		#ff4040,
		#bf0000
	);
	box-shadow:
		inset 0 1px rgba(0%,0%,0%,0.25),
		inset 0 -1px rgba(0%,0%,0%,0.25);
}

LFMenuItem[enabled][highlighted]:after,
LFMenuItem[enabled][activated]:after {
	color: rgba(100%,100%,100%,1);
}

LFMenuItem[enabled][menu][highlighted]:before,
LFMenuItem[enabled][menu][activated]:before {
	border-color: transparent transparent transparent rgba(100%,100%,100%,1);
}

LFMenuItem:not([enabled]) {
	color: #bfbfbf;
}

LFMenuItem[separator] {
	margin: 4px 0;

	height: 1px;

	background: rgba(0%,0%,0%,0.125);
}

LFWindow {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;

	min-width: 64px;
	min-height: 64px;

	background: rgba(87.5%,87.5%,87.5%,1);
	border-radius: 4px;
	box-shadow:
		0 0 0 1px rgba(0%,0%,0%,0.25),
		0 8px 32px rgba(0%,0%,0%,0.5);
}

LFWindow:not([focused]) {
	box-shadow:
		0 0 0 1px rgba(0%,0%,0%,0.25),
		0 8px 8px rgba(0%,0%,0%,0.25);
}

LFWindow[fullscreen] {
	width: 100%;
	height: calc(100% - 24px);

	transform: translate(0px, 24px)!important;
}

LFWindow[borderless] {
	border-radius: 0;
	box-shadow: none;
}

LFWindow[minimized] {
	height: 0!important;
	min-height: 24px;
	overflow: hidden;

	border-radius: 4px 4px 0 0;
}

LFWindow[animatedResize],
LFWindow[animatedResizeIn],
LFWindow[animatedResizeOut] {
	transition-duration: 0.25s;
	transition-property: width, height, transform;
}

LFWindow[animatedResize] {
	transition-timing-function: ease;
}

LFWindow[animatedResizeIn] {
	transition-timing-function: ease-in;
}

LFWindow[animatedResizeOut] {
	transition-timing-function: ease-out;
}

@keyframes LFWindow_animatedAlert {
	0%		{ transform: scale(0); }
	75%		{ transform: scale(1.25); }
	100%	{ transform: scale(1); }
}

LFWindow[animatedAlert] {
	animation: LFWindow_animatedAlert 0.25s ease;
}

LFFrame {
	display: flex;
	flex-direction: column;

	padding: 4px 8px;

	min-height: 16px;

	background:
		var(--CGNoise),
		linear-gradient(to bottom,
			rgba(0%,0%,0%,0.125),
			rgba(0%,0%,0%,0.5)
		),
		rgba(100%,100%,100%,1);
}

LFFrame[top] {
	border-radius: 4px 4px 0 0;
	box-shadow:
		inset 0 1px rgba(100%,100%,100%,0.5),
		inset 0 -1px #404040,
		inset 0 -2px rgba(100%,100%,100%,0.125);
}

LFFrame[bottom] {
	border-radius: 0 0 4px 4px;
	box-shadow: inset 0 1px #808080;
}

LFWindow[unifiedTitlebarAndToolbar] LFFrame {
	flex-direction: row;
	align-items: center;

	min-height: auto;
}

LFWindow:not([focused]) LFFrame {
	background:
		var(--CGNoise),
		linear-gradient(to bottom,
			rgba(0%,0%,0%,0.0625),
			rgba(0%,0%,0%,0.25)
		),
		rgba(100%,100%,100%,1);
}

LFWindow:not([focused]) LFFrame[top] {
	box-shadow:
		inset 0 1px rgba(100%,100%,100%,1),
		inset 0 -1px #808080,
		inset 0 -2px rgba(100%,100%,100%,0.125);
}

LFWindow:not([focused]) LFFrame[bottom] {
	box-shadow: inset 0 1px #bfbfbf;
}

LFFrame > *:not(:last-child) {
	margin-bottom: 4px;
}

LFWindow[unifiedTitlebarAndToolbar] LFFrame > *:not(:last-child) {
	margin-right: 8px;
	margin-bottom: 0;
}

LFTitlebar {
	display: flex;
	align-items: center;

	position: relative;

	height: 16px;
}

LFWindow[minimized] LFTitlebar {
	flex: 1;
}

LFWindow[minimized] LFTitlebar:after,
LFWindow:not([unifiedTitlebarAndToolbar]) LFTitlebar:after {
	content: attr(title);

	position: absolute;
	top: 50%;
	left: 50%;

	max-width: calc(100% - 120px);

	overflow: hidden;

	font-size: 15px;
	text-shadow: 0 1px rgba(100%,100%,100%,0.5);

	transform: translate(-50%, -50%);
}

LFWindow[minimized]:not([focused]) LFTitlebar:after,
LFWindow:not([unifiedTitlebarAndToolbar]):not([focused]) LFTitlebar:after {
	color: #808080;
}

LFTitlebarButton {
	width: 12px;
	height: 12px;

	padding: 2px 4px;

	background: url('@Resources/LFTitlebarButton.svg');
	background-repeat: no-repeat!important;
	background-position: 4px 2px!important;
	filter: drop-shadow(0 1px rgba(100%,100%,100%,0.5));
}

LFTitlebarButton:first-child {
	padding-left: 0;

	background-position: 0 2px!important;
}

LFTitlebarButton:last-child {
	padding-right: 0;
}

LFTitlebarButton[enabled][highlighted][close] {
	background:
		url('@Resources/LFTitlebarButtonClose.svg'),
		url('@Resources/LFTitlebarButton.svg');
}

LFTitlebarButton[enabled][highlighted][minimize] {
	background:
		url('@Resources/LFTitlebarButtonMinimize.svg'),
		url('@Resources/LFTitlebarButton.svg');
}

LFTitlebarButton[enabled][highlighted][maximize] {
	background:
		url('@Resources/LFTitlebarButtonMaximize.svg'),
		url('@Resources/LFTitlebarButton.svg');
}

LFTitlebarButton[enabled][activated] {
	filter:
		brightness(0.5)
		drop-shadow(0 1px rgba(100%,100%,100%,0.5));
}

LFTitlebarButton:not([enabled]) {
	background: url('@Resources/LFTitlebarButtonDisabled.svg');
}

LFWindow:not([focused]) LFTitlebarButton {
	background: url('@Resources/LFTitlebarButtonDefocused.svg');
}

LFWindow:not([focused]) LFTitlebarButton[enabled][highlighted][close] {
	background:
		url('@Resources/LFTitlebarButtonClose.svg'),
		url('@Resources/LFTitlebarButtonDefocused.svg');
}

LFWindow:not([focused]) LFTitlebarButton[enabled][highlighted][minimize] {
	background:
		url('@Resources/LFTitlebarButtonMinimize.svg'),
		url('@Resources/LFTitlebarButtonDefocused.svg');
}

LFWindow:not([focused]) LFTitlebarButton[enabled][highlighted][maximize] {
	background:
		url('@Resources/LFTitlebarButtonMaximize.svg'),
		url('@Resources/LFTitlebarButtonDefocused.svg');
}

LFToolbar {
	display: flex;

	margin: 4px 0;
}

LFWindow[unifiedTitlebarAndToolbar] LFToolbar {
	flex: 1;
}

LFWindow[minimized][unifiedTitlebarAndToolbar] LFToolbar {
	display: none;
}

LFToolbar > *:not(:last-child) {
	margin-right: 8px;
}

LFToolbar LFButton {
	background: linear-gradient(to bottom,
		rgba(100%,100%,100%,0.5),
		rgba(100%,100%,100%,0)
	);
	box-shadow:
		inset 0 0 0 1px #404040,
		inset 0 2px rgba(100%,100%,100%,0.25),
		0 1px rgba(100%,100%,100%,0.25);
}

LFToolbar LFButton:after {
	text-shadow: 0 1px rgba(100%,100%,100%,0.5);
}

LFToolbar LFButton[enabled][activated] {
	background:
		var(--CGNoise),
		linear-gradient(to bottom,
			#404040,
			#808080
		);
	box-shadow:
		inset 0 0 0 1px rgba(0%,0%,0%,0.25),
		inset 0 2px rgba(0%,0%,0%,0.125),
		0 1px rgba(100%,100%,100%,0.25);
	filter: none;
}

LFToolbar LFButton[enabled][activated]:after {
	color: rgba(100%,100%,100%,1);
	text-shadow: 0 1px rgba(0%,0%,0%,0.5);
}

LFToolbar LFButton:not([enabled]) {
	opacity: 1;
}

LFToolbar LFButton:not([enabled]):after,
LFToolbar LFButton:not([enabled]) LFImage {
	opacity: 0.5;
}

LFToolbar LFButton LFImage[template] {
	filter: drop-shadow(0 1px rgba(100%,100%,100%,0.5));
}

LFToolbar LFButton[enabled][activated] LFImage[template] {
	filter: drop-shadow(0 1px rgba(100%,100%,100%,0.5)) invert(1) /*brightness(0.5) sepia(100) saturate(100) hue-rotate(25deg)*/;
}

LFWindow:not([focused]) LFToolbar LFButton {
	opacity: 0.5;
}

LFView {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

	min-width: 0;
	min-height: 0;
}

LFView:not([tight]) > *:not(:last-child) {
	margin-right: 16px;
}

LFView[vertical] {
	flex-direction: column;
}

LFView[vertical]:not([tight]) > *:not(:last-child) {
	margin-right: 0;
	margin-bottom: 16px;
}

LFView[xCenter] {
	justify-content: center;
}

LFView[xEnd] {
	justify-content: flex-end;
}

LFView[yCenter] {
	align-items: center;
}

LFView[yEnd] {
	align-items: flex-end;
}

LFView[yStretch] {
	align-items: stretch;
}

LFWindow > LFView {
	flex: 1;

	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
}

LFWindow > LFView:not([tight]) {
	padding: 16px;
}

LFSidebar {
	display: flex;
	flex-direction: column;

	width: 192px;
	height: 100%;

	background: linear-gradient(to bottom,
		#f2e7e6,
		#e5cfce
	);
	box-shadow:
		inset -1px 0 #bfbfbf,
		inset -2px 0 rgba(100%,100%,100%,0.25);
}

LFImage {
	flex-shrink: 0;

	width: 16px;
	height: 16px;

	background-position: center;
}

LFText {
	font-family: Ubuntu;
	font-size: 13px;
}

LFText[small] {
	font-size: 11px;
}

LFText[big] {
	font-size: 17px;
}

LFText[bold] {
	font-family: Ubuntu-Bold;
}

LFTable {
	display: flex;
	flex-direction: column;
	flex: 1;

	background: linear-gradient(to bottom,
		rgba(100%,100%,100%,1),
		rgba(100%,100%,100%,1) 50%,
		#fbefef 50%,
		#fbefef
	);
	background-size: 100% 32px;
	box-shadow: 0 0 0 1px #808080;
}

LFTableRow {
	display: flex;
	align-items: center;

	padding: 0 24px;

	min-height: 16px;

	overflow-y: auto;
}

LFTableRow:after {
	content: attr(title);
}

LFTableRow[activated] {
	background: #bf0000;
}

LFTableRow[activated]:after {
	color: rgba(100%,100%,100%,1);
}

LFWindow:not([focused]) LFTableRow[activated] {
	background: #bfbfbf;
}

LFWindow:not([focused]) LFTableRow[activated]:after {
	color: rgba(0%,0%,0%,1);
}