@import url(@Resources/SFUIDisplay.css);

* {
	--CGCursor_default: url(@Resources/CursorDefault.svg), default;
	--CGCursor_wait: url(@Resources/CursorWait.svg), wait;
	--CGCursor_progress: url(@Resources/CursorProgress.svg), progress;
	--CGCursor_copy: url(@Resources/CursorCopy.svg), auto;
	--CGCursor_notAllowed: url(@Resources/CursorNotAllowed.svg), not-allowed;
	--CGCursor_text: url(@Resources/CursorText.svg), text;
	--CGNoise: url(@Resources/Noise.svg);
}

body {
	font-family: SF UI Display;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;

	cursor: var(--CGCursor_default);
}