@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Medium.eot');
	src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
		url('SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Medium.woff') format('woff'),
		url('SFUIDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/*
@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Regular.eot');
	src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
		url('SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Regular.woff') format('woff'),
		url('SFUIDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Light.eot');
	src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
		url('SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Light.woff') format('woff'),
		url('SFUIDisplay-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/*
@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Thin.eot');
	src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
		url('SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Thin.woff') format('woff'),
		url('SFUIDisplay-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Ultralight.eot');
	src: local('SF UI Display Ultralight'), local('SFUIDisplay-Ultralight'),
		url('SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Ultralight.woff') format('woff'),
		url('SFUIDisplay-Ultralight.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Semibold.eot');
	src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
		url('SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Semibold.woff') format('woff'),
		url('SFUIDisplay-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Black.eot');
	src: local('SF UI Display Black'), local('SFUIDisplay-Black'),
		url('SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Black.woff') format('woff'),
		url('SFUIDisplay-Black.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Heavy.eot');
	src: local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
		url('SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Heavy.woff') format('woff'),
		url('SFUIDisplay-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Bold.eot');
	src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
		url('SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Bold.woff') format('woff'),
		url('SFUIDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
*/