@import url('fonts/SFUIDisplay.css');
@import url('fonts/MyriadPro.css');

* {
	outline: none;
}

@keyframes fadein {
	from	{ opacity: 0; }
	to		{ opacity: 1; }
}

body {
	margin: 0;

	font-family: SF UI Display;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;

	animation: fadein 1s ease;
}

a {
	color: #ff0000;
	text-decoration: none;
}

b {
	font-weight: 500;
}

.links {
	display: flex;

	position: absolute;
	top: 32px;
	left: 50%;
	z-index: 1;

	width: 1024px;
	height: 32px;

	background:
		url('images/links-noise.png'),
		linear-gradient(to bottom,
			#e5e5e5,
			#999999
		);
	border-radius: 4px;
	box-shadow:
		inset 0 0 0 1px rgba(0,0,0,0.25),
		0 1px rgba(0,0,0,0.125);

	transform: translateX(-50%);
}

.links-logo {
	width: 64px;
	height: 32px;

	background: url('images/links-logo.svg') no-repeat center;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;

	color: #000000;
	text-shadow: 0 1px rgba(255,255,255,0.5);
	text-decoration: none;
}

.link.current {
	position: relative;

	background:
		url('images/links-noise.png'),
		linear-gradient(to bottom,
			#333333,
			#999999
		);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25);

	color: #ffffff;
	text-shadow: 0 1px rgba(0,0,0,0.5);
}

.link:first-child.current {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.link:last-child.current {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.link.current:before,
.link.current:after {
	content: '';

	position: absolute;

	width: 16px;
	height: 100%;
}

.link:not(:first-child).current:before,
.link:last-child.current:before {
	left: 0;

	background: linear-gradient(to right,
		rgba(0,0,0,0.25),
		rgba(0,0,0,0)
	);
}

.link:not(:last-child).current:after,
.link:first-child.current:after {
	right: 0;

	background: linear-gradient(to left,
		rgba(0,0,0,0.25),
		rgba(0,0,0,0)
	);
}

body,
.pages,
.page,
.section,
.section-content {
	display: flex;
	flex-direction: column;
}

.page:not(.current) {
	display: none;
}

.section {
	position: relative;
}

.section:first-child {
	background: linear-gradient(to bottom,
		rgba(0,0,0,0.125),
		rgba(0,0,0,0)
	);
}

.section:not(:first-child):before,
.others:before {
	content: '';

	position: absolute;
	left: 0;
	bottom: 100%;

	width: 100%;
	height: 32px;

	background: linear-gradient(to bottom,
		rgba(0,0,0,0),
		rgba(0,0,0,0.125)
	);
	box-shadow: inset 0 -1px rgba(0,0,0,0.125);
}

.section.presentation {
	background: rgba(0,0,0,0.125);
	overflow: hidden;
}

.section-content {
	margin: 0 auto;
	padding: 32px;

	width: 1024px;
}

.section:first-child .section-content {
	padding-top: 96px;
}

.section.presentation .section-content {
	position: relative;
}

.section-content > *:not(:last-child) {
	margin-bottom: 32px;
}

.welcome {
	display: flex;
	align-items: center;

	margin: auto;

	color: #404040;
}

.welcome-logo {
	margin-right: 16px;

	width: 256px;
	height: 256px;

	background: url('images/welcome-logo.svg');
}

.welcome-text {
	font-size: 45px;
	line-height: 48px;
}

.welcome-text > *:not(:last-child) {
	margin-bottom: 16px;
}

.text-title,
.text {
	text-align: center;
}

.text-title {
	font-size: 45px;
	line-height: 32px;
}

.text {
	font-size: 22px;
	line-height: 16px;
}

.image {
	width: 100%;
	height: auto;

	border-radius: 2px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 32px;
}

.button {
	padding: 0 16px;

	height: 32px;

	background: linear-gradient(to bottom,
		#ff4040,
		#bf0000
	);
	border: none;
	border-radius: 16px;
	box-shadow:
		inset 0 0 0 1px rgba(0,0,0,0.25),
		inset 0 2px rgba(255,255,255,0.25);

	color: #ffffff;
	text-shadow: 0 -1px rgba(0,0,0,0.5);

	cursor: pointer;
}

.others {
	display: flex;
	flex-direction: row-reverse;

	position: relative;

	margin-top: auto;
	padding: 16px;
}